<div id="container">
  <div style="height: 100%">
    <div class="col-xs-4 proofing-container">
      a
      b
    </div>
    <div class="center col-xs-8 file-image-container">
      <div id="controls" class="center controls">
        <a id="crop-control" class="page-link"><i class="icon ion-crop"></i></a>
      </div>
      <div id="proofing-viewport">
        <canvas id="proofing-canvas" linked-id="{{result.id}}" filename="{{result.filename}}"></canvas>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/static/js/proof.js"></script>

<script type="text/javascript" src="/static/js/jquery.imgareaselect.js"></script>
<link rel="stylesheet" href="/static/css/imgareaselect-animated.css">

