<div id="container" class="container-fluid">
  <div class="row ">
    <div id="header-controls" class="col-xs-4 controls ">
      <a id="receipt" class="page-link"><i class="icon ion-social-usd"></i></a>
      <a id="x" class="page-link"><i class="icon ion-crop"></i></a>
      <a id="x" class="page-link"><i class="icon ion-crop"></i></a>
      <a id="x" class="page-link"><i class="icon ion-crop"></i></a>
      <a id="x" class="page-link"><i class="icon ion-crop"></i></a>
      <a id="x" class="page-link"><i class="icon ion-crop"></i></a>
    </div>
    <div class="col-xs-8 controls ">
      <a id="crop-control" class="page-link"><i class="icon ion-crop"></i></a>
    </div>
  </div>
  <div class="row ">
    <div id="proofing-input-container" class="col-xs-4 proofing-input-container">
      <form id="proofing-input" class="form">
      </form>
      <div id="footer-controls" class="col-xs-4 controls ">
        <a id="x" class="page-link"><i class="icon ion-crop"></i></a>
      </div>
    </div>
    <div id="proofing-image-container" class="col-xs-8 proofing-image-container ">
      <div id="proofing-viewport" class="proofing-viewport ">
        <canvas id="proofing-canvas" linked-id="{{result.id}}" filename="{{result.filename}}"></canvas>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
var readings = {{{json readings}}};
</script>

<script type="text/javascript" src="/static/js/proof.js"></script>

<script type="text/javascript" src="/static/js/jquery.imgareaselect.js"></script>
<link rel="stylesheet" href="/static/css/imgareaselect-animated.css">
<link rel="stylesheet" href="/static/css/select2.css">
<script type="text/javascript" src="/static/js/select2.js"></script>

